/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/db.lock
/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/storage.ide
/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/storage.ide-shm
/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/storage.ide-wal
