/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/db.lock
/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/storage.ide
/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/storage.ide-shm
/dashboard.API/.vs/dashboard.API/v16/Server/sqlite3/storage.ide-wal
/dashboard.API/bin/Debug/netcoreapp2.2/dashboard.API.dll
/dashboard.API/obj/Debug/netcoreapp2.2/dashboard.API.csproj.CoreCompileInputs.cache
/dashboard.API/obj/Debug/netcoreapp2.2/dashboard.API.csprojAssemblyReference.cache
/dashboard.API/obj/Debug/netcoreapp2.2/dashboard.API.dll
/dashboard.API/obj/Debug/netcoreapp2.2/dashboard.API.pdb
/dashboard.API/bin/Debug/netcoreapp2.2/dashboard.API.dll
/dashboard.API/bin/Debug/netcoreapp2.2/dashboard.API.pdb
